/* Add your CSS here! */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

img {
    max-width: 50%;
    margin-left: 25%;
}

h1 {
    text-align: center;
    font-family: fantasy, serif;
    font-size: 60px;
    color: #E7F0B0;
}

body {
    background-color: #394FF0;
    position: relative;
}

.pone {
    color: #35C4F0;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.ptwo {
    color: orange;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.pthree {
    text-align: center;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-style: italic;
}

#spanner {
    color: red;
}

h3 {
    color: #E7F0B0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

ul {
    color: #E7F0B0;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: square;
}

a {
    text-decoration: none;
}